<html>
	<head>
		<title>Amy X. Zhang - UW CSE</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Amy X. Zhang is a professor at UW CSE focusing on social computing and HCI research.">
		<link href="https://fonts.googleapis.com/css?family=Montserrat:300,600|Work+Sans:300,400,600&display=swap" rel="stylesheet">
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">
			<link rel="stylesheet" href="css/mavo.min.css">
	<script src="js/mavo.es5.min.js"></script>
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <link rel="icon" href="favicon.ico" type="image/x-icon">
        <script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		
		  ga('create', 'UA-57826003-1', 'auto');
		  ga('send', 'pageview');

		</script>
	</head>
	<body>
		
		
		<div class="container-fluid">
			
			<div class="row">
				<BR><BR>
			</div>
			
		 <div class="row justify-content-md-center">
			     	<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
		        		<img src="img/Zhang-2022-portrait-original.jpg"  class="img-responsive center-block"  width=560 height=260>
		      		</div>
		      		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 line">
		      		
		      		
				<a class="title_name" href="index.html">Amy X. Zhang</a>
				
				
		<BR>
			<span style="font-size: 18px;">
        			<a href="aboutme.html">About Me</a> - 
        			<a href="papers/CV.pdf">CV</a> - 
        			<a href="publications.html">Publications</a> - 
        			<a href="talks.html">Talks</a> - 
        			<a href="code.html">Code</a> - 
        			<a href="http://amyxzhang.wordpress.com">Blog</a>
        	</span>
					<BR>
						<BR>
		      		<P>
		      		Associate Professor<BR>Allen School of Computer Science & Engineering<BR>
		      		University of Washington</P
		      			<P>
		      			Head of the <a href="http://social.cs.washington.edu">Social Futures Lab</a><BR>
		      		</P>
		      		
		      		<P>
		      		My research is in the field of human-computer interaction, human-AI interaction, and social computing. I work on
		      		designing and building systems to improve discourse, 
		      		collaboration, and understanding,
		        	with applications to social media and online communities, news
		        	and civic engagement, education and research, and computer-supported cooperative work and collective action.
		        	</P>
		 				
		        			
		        	
		        	
		        	
		        	
		        		</div>
		    	 </div>
		</div>
		
		<div class="container-fluid">
			<div class="row">
				
				
					
			  <div class="col-xs-12 col-sm-4 col-md-4 line" style="float: right; padding-right: 50px">
			  	<BR>
			  		<span class="mini-header">
						<h3>Contact Info</h3>
					</span>
						Email: <a href="mailto:axz@cs.uw.edu">axz@cs.uw.edu</a><BR>
						Twitter: <a href="https://twitter.com/amyxzh">@amyxzh</a><BR>
						Github: <a href="https://github.com/amyxzhang">amyxzhang</a><BR>
				  		<a href="https://www.semanticscholar.org/author/Amy-X.-Zhang/144518215">Semantic Scholar</a><BR>
						<a href="https://scholar.google.com/citations?user=thZJZaYAAAAJ&hl=en">Google Scholar</a><BR>
					<BR>
					<span class="mini-header">
						<h3>Latest News</h3>
					</span>
				  	<P>
						Aug 2025: Promoted to Associate Professor at UW with tenure!
					</P>
				  	<P>
						Feb 2025: Awarded a 2025 Sloan Research Fellowship.
					</P>
				  	<P>
						Mar 2023: Awarded an NSF CAREER grant.
					</P>
					<P>
						Sept 2020: Started professorship at University of Washington Allen School of Computer Science & Engineering.
					</P>
			
				
					<br>
					<span class="mini-header">
						<h3>Current PhDs and Postdocs</h3>
					</span>
					
					<div mv-bar="none" mv-app="people" mv-source="https://github.com/Social-Futures-Lab/social-futures-lab.github.io">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pubbody">
							
							<article  property="member" typeof="Person" mv-multiple style="[if(jobTitle == 'phd' or jobTitle == 'postdoc', '', 'display:none;')]">
							<span mv-if="name == 'Shagun Jhaver'">
								<BR>
								<span class="mini-header">
									<h3>Alumni</h3>
								</span>
							</span>
								
								<img src="[image]" class="staffimage" alt="" />
								
								<a href="[website_url]" property="homepage">
									<span property="name">Name</span></a><meta property="id" content="[name]">,
								
									<span property="jobTitle">
										<select>
											<option value="pi">Assistant Professor</option>
											<option value="postdoc" selected>Postdoctoral Researcher</option>
											<option value="phd" selected>PhD Student</option>
											<option value="visiting">Visiting Researcher</option>
											<option value="masters">Masters Student</option>
											<option value="undergrad">Undergraduate Student</option>
											<option value="intern">Summer Intern</option>
										</select>
									</span>

								<span class="[if(!alum, hideauthor)]">
									<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						                    <span property="current"><i>Current Position</i></span><BR>
						                  </span>
									
									
							</article>	
						</div>
					</div>
				</div>

					
					
<!-- 					<br>
					<span class="mini-header">
						<h3>Travel Schedule</h3>
					</span>
					<P>
						Zoom! :)
					</P> -->
					
				
<!-- 					<BR>
					<span class="mini-header">
						<h3>Blog Posts</h3>
					</span>
					<P>
						<a href="https://misinfocon.com/themes-from-the-truth-and-trust-online-conference-2019-4f26cee1a445">
							Themes from the Truth and Trust Online Conference 2019
						</a> - Nov 13, 2019
						<BR>
						<a href="https://misinfocon.com/exploring-the-design-of-credibility-tools-c198530785a4">
							Exploring the Design of Credibility Tools
						</a> - Dec 19, 2018
						<BR>
						<a href="https://medium.com/acm-cscw/having-trouble-keeping-up-with-group-chat-39ad7e456968">
							Having Trouble Keeping Up with Group Chat?
						</a> - Nov 5, 2018
						<BR>
						<a href="https://medium.com/squadbox/4-things-we-learned-from-talking-to-people-who-face-harassment-research-behind-the-design-of-a28e10785319">
							4 Things We Learned from Talking to People who Face Harassment: Research behind Squadbox
						</a> - April 17, 2018
						<BR>
						<a href="https://amyxzhang.wordpress.com/2017/06/12/considering-end-users-in-the-design-of-news-credibility-annotations/">
							Considering End Users in the Design of News Credibility Annotations
						</a> - June 12, 2017
						<BR>
						<a href="https://amyxzhang.wordpress.com/2016/12/30/year-in-reviews/">Year in Reviews</a> - Dec 30, 2016<BR>
						<a href="https://amyxzhang.wordpress.com/2015/05/11/mailing-lists-why-are-they-still-here-whats-wrong-with-them-and-how-can-we-fix-them/">Mailing Lists: Why Are They Still Here, What's Wrong With Them, and How Can We Fix Them?</a> - May 11, 2015<BR>
						<a href="http://amyxzhang.wordpress.com/2014/03/19/thoughts-and-reflections-from-a-1st-time-reviewer/">Thoughts and Reflections from a 1st Time Reviewer</a> - March 19, 2014<BR>
						<a href="http://amyxzhang.wordpress.com/2012/03/11/what-is-a-neighborhood/">What is a Neighborhood?</a> - March 11, 2012<BR>
					</p> -->
					
							
				<BR>
						<span class="mini-header">
						<h3>Application Materials:</h3>
						</span>
		        		<a href="papers/AZ_research_statement.pdf">Research Statement</a>,
		        		<a href="papers/AZ_teaching_statement.pdf">Teaching Statement</a>,
		        		<a href="papers/AZ_diversity_statement.pdf">Diversity Statement</a>
		        	<BR>
					
<!-- 					<BR>
					<span class="mini-header">
						<h3>Tweets By @amyxzh</h3>
					</span>
					<a class="twitter-timeline" 
					width="300"
					height="400"
					data-chrome="nofooter noheader noborder transparent"
					data-border-color="#ffffff"
					href="https://twitter.com/amyxzh" 
					data-widget-id="515768611978223616">
						Tweets by @amyxzh</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			  
			  		<P></P>
			  		<BR> -->
			  </div>
				
				
				
			  <div class="col-xs-12 col-sm-8 col-md-7 line" style="float: right">
			  	<BR>
			  		
			  		
			  	<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pubbody"> 
						<span class="mini-header" id="projects">
							Latest Publications</span> <a href="publications.html">(see all)</a>  </div>
				</div>
				<BR>
				<div mv-bar="no-login" mv-app="publications" mv-storage="https://github.com/Social-Futures-Lab/social-futures-lab.github.io">
					
					
					<article class="row" property="paper" mv-multiple mv-if="$index < 20">
						
						<div class="col-xs-6 col-sm-2 col-md-2 col-lg-2"> 
							<img class="img-responsive center-block" property="image" src="null" alt="img alt" / style="border: 1px #737373 solid; margin-top: 6px;">
						</div>
						
						
						<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 pubbody">
							
							<B><a href="pub_details.html?id=[id]">
									<span class="mini-header2" property="title">Paper Title</span>
								</a>
							</B>
								<BR>
							
							<span property="author" mv-multiple>
								
								<meta property="authorData" mv-value="get(people.member, 'id=' & author_name)" />
                 							 <img src="[authorData.image]" class="staffimage" alt="" mv-if="authorData != ''">

								
									<span property="author_name" mv-edit-list="memberList">Author Name</span></span>
							<BR>
								<a href="null" property="conference url">
									<span property="conference">Conference</span>
									<span property="year">Year</span>
								</a>
								
								<span class="btn btn-xs btn-warning" property="award">Award</span>
								
							<BR>
								
							<span property="links">
								<a href="null" property="pdf_url" class="button">
									<img src="img/pdf.png"><span>PDF</span>
								</a>
								
								<a href="null" property="website_url" class="button">
									<img src="img/earth4.png"><span> Website</span>
								</a>
								
								<a href="null" property="code_url" class="button">
									<img src="img/github5.png"><span> Code</span>
								</a>
								
								<a href="null" property="data_url" class="button">
									<img src="img/data.png"><span> Data</span>
								</a>
								
								
								<a href="null" property="slides_url" class="button">
									<img src="img/slides.png"><span> Slides</span>
								</a>
								
								<a href="null" property="video_url" class="button">
									<img src="img/youtube.jpg"><span> Video</span>
								</a>
								
								<a href="null" property="talk_url" class="button">
									<img src="img/youtube.jpg"><span> Talk</span>
								</a>
								
								<BR><BR>
							</span>
								
								
							</div>
						</article>
						
						
					</div>
					
						
			
			  
			</div>
		</div>
		<P></P>
		<BR>
		<small>This site built by &copy; Amy X. Zhang, <a href="https://github.com/amyxzhang/personal_website">github code here</a>.</small>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    	<script src="js/bootstrap.min.js"></script>
	</body>
</html>
